.ax-card--total {
    border-radius: 5px;
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    background: none;

    .tooltip-icon {
        position: absolute;
        top: 0;
        z-index: 1;
        right: 10px;
    }

    .total-number {
        @include rubik();
        @include fontSize(36px);
        text-align: center;
        width: 100%;
        padding: 50px 0;
        position: relative;
        background: #fff;
        font-weight: 500;
        box-shadow: 0 8px 25px 0 rgba(38, 37, 41, 0.1);
        height: 150px;
        z-index: 2;

        &:after {
            content: '';
            @include center-x;
            bottom: 0;
            width: 1px;
            height: 20px;
        }
    }

    .total-info {
        background: #fff;
        padding: 30px 15px;
        position: relative;
        width: 100%;
        height: calc(100% - 150px);
        z-index: 1;
    }

    &.on {
        box-shadow: none;

        .total-number {
            &:after {
                background: #fff;
            }
        }
    }
}